
.v-application__wrap {
  
  width: 100%;
  margin: 0 auto;
  background-color: rgb(33, 33, 33);

}
body {
  color: white;
  font: 1.3rem Inconsolata, monospace;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}



table {
  color: white;
  text-shadow: 0 0 5px #C8C8C8;
  float: left;
  position: fixed;
  width: 60%;
  border-style: solid;
  height: 80%;
  border-radius: 10px;
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );

}

td {
  text-align: center;
  font-size: 1.5em;
}
.grid-container {
  position: relative;
  float: left;
  vertical-align: top;
  width: 100%;
}

.report-container {
  
  position: fixed;
  right: 5%;
  float: right;
  width: 40%;
  height: 80%;
  border-radius: 10px;
}



.parent-container{
    padding: 1em;
    position:relative;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 80%;
    width: 100%;
    padding-top: 5%;
}
.bottom-label {
  display: inline-block;
  float: left;
  margin-right: 5px;
  font-size: 1.5em;
  padding-left: 10px;
}

input {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  color: white;
  forced-color-adjust: none;
  width: 30%;
}

input:focus {
  outline: none
}

.bottom-center {
  display: flex;
  align-items: left;
  justify-content: left;
  position: fixed;
  bottom: 20px; /* adjust as needed */
  left: 10%;
  right: 0;
  width: 80%;
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  border-radius: 5px;
  color: white;
  text-shadow: 0 0 5px #C8C8C8;
  border-style: solid;
  border-width: 1px;
  border-color: #808080;
}

.v-toolbar-title__placeholder {
  font-size: 1.5em;
}



.v-card {
  width: 100%;
  height: 100%;
}

.v-list-subheader__text {
  font-size: 1.5em;
  font-weight: bold;
}